<!DOCTYPE html>
<html lang="en" class="h-100 w-100">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Home</title>

    <!-- Custom fonts for this template-->
    <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square-round.css" rel="stylesheet">
    <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square.css" rel="stylesheet">
    <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square.css" rel="stylesheet">
    <style>
        body {
            font-family: 'NanumSquareRound' !important;
        }
    </style>

    <!-- Custom styles for this template-->
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
    <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square-round.css" rel="stylesheet">

</head>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<body style="width: 100%; height: 100%;">

<!-- 지도  -->
<div style="width: 100%; height: 100%; display: flex; justify-content: center; z-index: 1;">
    <div id="map" style="width: 100%; height: 100%;"></div>
</div>

<div onclick="f1();" id="black" class="w-100 h-100 position-fixed" style="background-color: black; opacity: 0.5; top: 0px; left: 0px; display: none; z-index: 2">

</div>

<!-- 검색창 -->
<div style="position:fixed; top:2.5%; z-index: 1; ; width: 100%; display: flex; justify-content: center; padding-left: 10px; ">
    <div class="d-sm-inline-block form-inline navbar-search" style="width: 100%;">
        <div class="input-group">
            <input onkeypress="enterKey()" type="text" id="search_keyword" class="form-control bg-light border-0 small" placeholder="원하는 장소를 입력하세요"aria-label="Search" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button id="search_button" class="btn btn-primary" type="button" onclick="search_place()" style="background-color: #F8F9FC; border-color: #F8F9FC;">
                    <svg xmlns="http://www.w3.org/2000/svg" style="fill:gray;" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                    </svg>
                </button>
            </div>
            <!-- 토글 버튼  -->
            <button class="btn mr-3" type="button"  style="background-color: #F8F9FC; border-radius: 0px 5px 5px 0px; z-index: 2;" onclick="toggleMenu('collapseWidthExample');">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                </svg>
            </button>
        </div>
    </div>
</div>


<!-- 메뉴 -->
<div style="width: 100%; position: fixed; top:8.5%; z-index: 3; display: flex; justify-content: right;  padding-right: 15px;">
    <div>
        <div class="list-group" id="collapseWidthExample" style="display: none;">
            <a href="/" type="button" class="list-group-item list-group-item-action" aria-current="true" style="width: 120px; font-size: 12px; display: flex; justify-content:center; color: #4e73df; font-weight: bold;">Map</a>
            <a href="/statics" type="button" class="list-group-item list-group-item-action" style="width: 120px; font-size: 12px; display: flex; justify-content:center; color: #4e73df; font-weight: bold">Statics</a>
        </div>
    </div>
</div>


<!-- 모달 -->
<div th:each="point:${pointList}" class="modal_box" th:id="'pointModal'+${point.id}" style="z-index: 3;">
    <div th:object="${point}" class="m">
        <div class="box1">
            <img th:src="*{imgSrc}"  width="100%;" height="100%;" style="border-radius: 15px 15px 15px 15px;">
        </div>
        <div class="box2">
            <div class="m_title" th:text="*{place}">어린이대공원 입구</div>
            <div class="m_text" > 평소보다 <strong style="text-decoration: #5a5c69" th:text="|*{percentage}%|"></strong> 혼잡</div>
            <div class="m_congestion" th:if="${point.percentage >= 200}">매우 혼잡</div>
            <div class="m_congestion" style="color: #ffc107 !important;" th:if="${ 150 <= point.percentage and point.percentage < 200}">혼잡</div>
            <div class="m_congestion" style="color: #2e59d9 !important;" th:if="${ 100 <= point.percentage and point.percentage < 150}">보통</div>
            <div class="m_congestion" style="color: green !important;" th:if="${ 50 <= point.percentage and point.percentage < 100}">여유</div>
            <div class="m_congestion" style="color: green !important;" th:if="${ 0 <= point.percentage and point.percentage < 50}">매우 여유</div>
            <div class="d-flex justify-content-between">
                <div class="m_num" th:text="|*{count}명|">84명</div>
                <a th:href="@{/statics/{id} (id=${point.id})}" type="button" class="btn text-white font-weight-bolder btn-sm btn-light" style="background-color: #c9c9c9 !important;">더 보기</a>
            </div>
        </div>
    </div>
</div>

<div id="wrap1">
    <div class="title-box">
        <div class='wave -one'></div>
        <div class='wave -two'></div>
        <div class='wave -three'></div>
    </div>
</div>




<script th:inline="javascript" type="text/javascript">


    var ID = 0;

    function f1(){
        var e = document.getElementById('collapseWidthExample')
        var b = document.getElementById("black");
        var p = document.getElementById(ID);
        b.style.display = 'none';
        e.style.display = 'none';
        p.style.display = 'none';

    }

    function toggleMenu(id){
        var e = document.getElementById(id);
        var b = document.getElementById('black');
        if(e.style.display == 'flex'){
            e.style.display = 'none';
            b.style.display = 'none';
        } else {
            e.style.display = 'flex';
            b.style.display = 'flex';
        }
    }

    function togglePoint(id){
        // console.log('id= ', id);
        ID = id;
        var e = document.getElementById(id);
        var b = document.getElementById('black');
        if(e.style.display == 'flex') {
            e.style.display = 'none';
            b.style.display = 'none';
        }
        else {
            e.style.display = 'flex';
            b.style.display = 'flex';
        }

    }




</script>



<!-- Bootstrap core JavaScript-->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>



<!-- Custom scripts for all pages-->
<script src="/js/sb-admin-2.min.js"></script>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=80205775122803726af920dd7316f936"></script>
<script th:inline="javascript" type="text/javascript">

    var pointList = [[ ${pointList} ]];

    // console.log(pointList);
    var container = document.getElementById('map'); //지도를 담을 영역의 DOM 레퍼런스
    var options = { //지도를 생성할 때 필요한 기본 옵션
        center: new kakao.maps.LatLng(37.551126, 127.073899), //지도의 중심좌표. (세종대학교 고정)
        level: 3 //지도의 레벨(확대, 축소 정도)
    };

    var map = new kakao.maps.Map(container, options); //지도 생성 및 객체 리턴



    for (var i=0; i<pointList.length; i++){

        // console.log(pointList[i]);
        var id = pointList[i].id;
        var latitude = pointList[i].latitude;
        var longitude = pointList[i].longitude;
        var cus_position = new kakao.maps.LatLng(latitude,  longitude);

        var percentage = pointList[i].percentage;
        var cus_content = '';

        if (percentage >= 200) {cus_content = '<div style="display: flex; justify-content: center; align-items: center"><div id="point'+ id +'" style="visibility: hidden;" class="wrap1"><div class=\"title-box\"><div class=\"wave -one\"></div><div class=\"wave -two\"></div><div class=\"wave -three\"></div></div></div></div><button class =\"btn btn-danger point\" type=\"button\"onclick=\"togglePoint(\'pointModal'+id+'\')\";><span class="text1">'+percentage+'%</span></button></div>';}
        else if (150 <= percentage && percentage < 200) {cus_content = '<div style="display: flex; justify-content: center; align-items: center"><div id="point'+ id +'" style="visibility: hidden;" class="wrap1"><div class=\"title-box\"><div class=\"wave -one\"></div><div class=\"wave -two\"></div><div class=\"wave -three\"></div></div></div></div><button class =\"btn btn-warning point\" type=\"button\"onclick=\"togglePoint(\'pointModal'+id+'\')\";><span class="text1">'+percentage+'%</span></button></div>';}
        else if (100 <= percentage && percentage < 150) {cus_content = '<div style="display: flex; justify-content: center; align-items: center"><div id="point'+ id +'" style="visibility: hidden;" class="wrap1"><div class=\"title-box\"><div class=\"wave -one\"></div><div class=\"wave -two\"></div><div class=\"wave -three\"></div></div></div></div><button class =\"btn btn-secondary point\" style= \"background-color: #5c78cc !important;\" type=\"button\"onclick=\"togglePoint(\'pointModal'+id+'\')\";><span class="text1">'+percentage+'%</span></button></div>';}
        else if (50 <= percentage && percentage < 100) {cus_content = '<div style="display: flex; justify-content: center; align-items: center"><div id="point'+ id +'" style="visibility: hidden;" class="wrap1"><div class=\"title-box\"><div class=\"wave -one\"></div><div class=\"wave -two\"></div><div class=\"wave -three\"></div></div></div></div><button class =\"btn btn-success point\" style= \"background-color: green !important;\" type=\"button\"onclick=\"togglePoint(\'pointModal' + id + '\')\";><span class="text1">' + percentage + '%</span></button></div>';}
        else { cus_content = '<div style="display: flex; justify-content: center; align-items: center"><div id="point'+ id +'" style="visibility: hidden;" class="wrap1"><div class=\"title-box\"><div class=\"wave -one\"></div><div class=\"wave -two\"></div><div class=\"wave -three\"></div></div></div></div><button class =\"btn btn-success point\" style= \"background-color: green !important;\" type=\"button\"onclick=\"togglePoint(\'pointModal' + id + '\')\";><span class="text1">' + percentage + '%</span></button></div>';}
        // console.log(id, latitude, longitude, cus_position, percentage, cus_content);

        new kakao.maps.CustomOverlay({
            position: cus_position,
            content: cus_content,
        }).setMap(map);
    }

    var interval;
    $( document ).ready(function detection_change() {
        interval = setInterval(function () {
            $.ajax({
                url: '/infos',
                type: "GET"
            })
                .done(function (response) {
                    console.log(response)
                    for (var i = 0; i < pointList.length; i++) {
                        if ($('#point' + pointList[i].id).css('visibility') == 'visible')  {
                            $('#point' + pointList[i].id).attr("style", "visibility: hidden");
                        }
                    }

                    if (response.count != 0) {
                        var infoLon = response.data[0].lon;
                        var infoLat = response.data[0].lat;
                        var infoAzi = response.data[0].azimuth;

                        for (var i = 0; i < pointList.length; i++) {
                            var lonTopLeft = pointList[i].lonTopLeft;
                            var latTopLeft = pointList[i].latTopLeft;
                            var lonBottRight = pointList[i].lonBottRight;
                            var latBottRight = pointList[i].latBottRight;

                            if ((infoLat >= latTopLeft & infoLat <= latBottRight)
                                & (infoLon >= lonBottRight & infoLon <= lonTopLeft)) {
                                if (pointList[i].place == '애지헌' && (infoAzi > 225 && infoAzi < 315)) {
                                    $('#point' + pointList[i].id).attr("style", "visibility: visible");
                                    break;
                                } else if (pointList[i].place == 'AI센터' && ((infoAzi > 315 && infoAzi < 360) || (infoAzi > 0 && infoAzi < 45))) {
                                    $('#point' + pointList[i].id).attr("style", "visibility: visible");
                                    break;
                                } else {
                                    $('#point' + pointList[i].id).attr("style", "visibility: visible");
                                    break;
                                }
                            }

                        }
                    }
                });
        }, 2000)
    })

    function search_place() {
        var keyword = $("#search_keyword").val()
        var input = document.getElementById('search_keyword');
        input.value = null;
        if (keyword.length < 2) {
            alert('2글자 이상 입력해주세요.');
            return;
        }
        for (var i=0; i<pointList.length; i++){
            if (pointList[i].place.includes(keyword)) {
                togglePoint('pointModal'+pointList[i].id);
                return;
            }
        }
        alert('해당 장소에 대한 정보가 없습니다.');
    }

    function enterKey() {
        // console.log('key');
        if (window.event.keyCode == 13) {
            $("#search_button").click();
        }

    }

</script>

<script type="text/javascript">
    playAlert = setInterval(function() {
        var level = map.getLevel();
        var t1 = document.querySelectorAll('.text1');
        console.log(level);
        if(level<=1){
            for (var i=0; i<pointList.length; i++) {
                t1[i].style.fontSize = '10px';
            }
        }
        else if(level<=2){
            for (var i=0; i<pointList.length; i++) {
                t1[i].style.fontSize = '12px';
            }
        }
        else if(level<=3){
            for (var i=0; i<pointList.length; i++) {
                t1[i].style.fontSize = "10px";
            }

        }
    }, 500);

</script>

</body>

</html>